In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.?

Ans: database is a collection of data where we can store the data
SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans : DDL is a data defination language .
    CREAT is used for creating a table . DROP is used for remove the existing table. ALTER command is used to add, delete or change columns in the existing table.
    TRUNCATE is used to  remove all rows from the table, but the structure of the table still exists.

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans :
    DML is basically Data Manipulation Language .
    INSERT is used  to enter the information or values into a row.
    UPDATE command is used to alter existing table records. Within a table, it modifies data from one or more records.
    DELETE  deletes all archives from a table. This command is used to erase some or all of the previous tableâ€™s records.

In [ ]:
Q4. What is DQL? Explain SELECT with an example.
Ans :
    DQL is Data Query Language
    The SELECT Statement in SQL is used to retrieve or fetch data from a database. 

    We can fetch either the entire table or according to some specified rules. 
    The data returned is stored in a result table. This result table is also called the result set. 
    With the SELECT clause of a SELECT command statement, we specify the columns that we want to be displayed in the query result and, 
    optionally, which column headings we prefer to see above the result table.

In [ ]:
Q5. Explain Primary Key and Foreign Key.
Ans :
    A primary key is used to ensure that data in the specific column is unique. 
    A column cannot have NULL values. 
    It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

    A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. 
    It is a column (or columns) that references a column (most often the primary key) of another table.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Ans :
    import mysql.connector

    mydb = mysql.connector.connect(
      host="localhost",
      user="yourusername",
      password="yourpassword")

    mycursor = mydb.cursor()

    mycursor.execute("CREATE DATABASE mydatabase")
    
    
A cursor is an object which helps to execute the query and fetch the records from the database.execute is used for execute or do changes in data base

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.
Ans :
    1.JOIN and FROM
    2.WHERE
    3.GROUPBY
    4.HAVING
    5.SELECT
    6.DISTINCT
    7.ORDER BY
    8.LIMIT / OFFSET